<div class="details-container" *ngIf="product">
    <div class="image-section">
        <img [src]="product.processedImage" alt="Cake">
    </div>

    <div class="info-section">
        <h1>{{product.productName}}</h1>

        <h2 class="price">
            LKR {{product.price}}
        </h2>

        <p class="category">
            Category: <span>{{product.categoryName}}</span>
        </p>

        <p class="description">
            {{product.description}}
        </p>

        <div class="size-box">
            <span class="label">Size:</span>
            <span>{{product.size}} g</span>
        </div>

        <div class="customization-section" *ngIf="product.customizations?.length">
            <h3>Customize your cake</h3>
            <div class="custom-card" *ngFor="let custom of product.customizations">
                <div *ngIf="custom.optionType === 'CHECKBOX'">
                    <!-- <label>
                        <input type="checkbox" (change)="toggleCustomization(custom, $event)">
                        {{ custom.optionName }}
                        (+ LKR {{ custom.extraPrice }})
                    </label> -->
                    <div class="checkbox-option">
                        <input type="checkbox" (change)="toggleCustomization(custom, $event)">

                        <span>
                            {{ custom.optionName }}
                            <span class="extra-price">
                                (+ LKR {{ custom.extraPrice }})
                            </span>
                        </span>
                    </div>
                </div>
                <div *ngIf="custom.optionType === 'TEXT'">
                    <label>{{ custom.optionName }}</label>
                    <span class="extra-price">
                        (+ LKR {{ custom.extraPrice }})
                    </span>
                    <input type="text" style="width: 650px;" class="form-control"
                        placeholder="Enter {{ custom.optionName }}" (input)="updateCustomizationText(custom, $event)">
                </div>

                <div *ngIf="custom.optionType === 'TEXTAREA'">

                    <label>{{ custom.optionName }}</label>
                    <span class="extra-price">
                        (+ LKR {{ custom.extraPrice }})
                    </span>

                    <textarea class="form-control" style="width: 650px;" rows="4"
                        placeholder="Enter {{ custom.optionName }}" (input)="updateCustomizationText(custom, $event)">
                    </textarea>

                </div>

                <div *ngIf="custom.optionType === 'DROPDOWN'">
                    <label>{{ custom.optionName }}</label>
                    <span class="extra-price">
                        (+ LKR {{ custom.extraPrice }})
                    </span>

                    <select (change)="updateCustomizationText(custom, $event)" class="form-control">

                        <option value="">Select</option>

                        <option *ngFor="let value of custom.optionValues" [value]="value">
                            {{ value }}
                        </option>

                    </select>
                </div>
                <!-- <div class="radio-group">
                    <div *ngFor="let value of custom.optionValues">
                        <input type="radio" [name]="'radio_' + custom.optionId" [value]="value"
                            (change)="updateCustomizationText(custom, $event)">
                        {{ value }}
                    </div>
                </div> -->
                <div class="radio-group" *ngIf="custom.optionType === 'RADIO'">

                    <label>{{ custom.optionName }}</label>
                    <span class="extra-price">
                        (+ LKR {{ custom.extraPrice }})
                    </span>

                    <div *ngFor="let value of custom.optionValues">

                        <input type="radio" [name]="'radio_' + custom.optionId" [value]="value"
                            (change)="updateCustomizationText(custom, $event)">

                        {{ value }}

                    </div>

                </div>
                <div *ngIf="custom.optionType === 'NUMBER'">

                    <label>{{ custom.optionName }}</label>

                    <input type="number" class="form-control" (input)="updateCustomizationText(custom, $event)">

                </div>
            </div>
        </div>

        <div class="quantity-section">
            <button mat-icon-button color="warn"
                (click)="decreaseQty()"><mat-icon>remove_circle_outline</mat-icon></button>
            <span>{{quantity}}</span>
            <button mat-icon-button color="primary"
                (click)="increaseQty()"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
        <div class="button-group">
            <button mat-raised-button color="primary" (click)="addToCart()">Add to Cart</button>
            <button mat-raised-button color="accent" (click)="buyNow()">Buy Now</button>
            <button mat-raised-button color="warn" (click)="closeForm()">Cancel</button>
        </div>
    </div>
</div>