<div class="cart-container">

    <h1 class="cart-title">Shopping Cart</h1>

    <div *ngIf="cartItems.length > 0; else emptyCart">

        <div class="cart-card" *ngFor="let item of cartItems">

            <div class="image-section">
                <img [src]="item.processedImg" alt="cake">
            </div>

            <div class="details-section">

                <div class="top-section">

                    <div class="product-info">
                        <mat-checkbox [(ngModel)]="item.selected" (change)="calculateTotal()">
                        </mat-checkbox>

                        <div>
                            <h2>{{item.productName}}</h2>

                            <div class="customization-list" *ngIf="item.customizations?.length">
                                <div class="customization-item" *ngFor="let custom of item.customizations">

                                    <ng-container *ngIf="custom.value === 'true'; else textOption">

                                        ✓ {{custom.optionName}}

                                        <span *ngIf="custom.extraPrice > 0">
                                            (+LKR {{custom.extraPrice}})
                                        </span>

                                    </ng-container>

                                    <ng-template #textOption>

                                        <strong>{{custom.optionName}}</strong>:
                                        {{custom.value}}

                                        <span *ngIf="custom.extraPrice > 0">
                                            (+LKR {{custom.extraPrice}})
                                        </span>

                                    </ng-template>

                                </div>
                            </div>

                            <p class="price">
                                LKR {{item.price}}
                            </p>
                        </div>
                    </div>


                    <button mat-icon-button color="warn" class="delete-btn" (click)="deleteItem(item.cartId)"
                        matTooltip="Remove item">

                        <mat-icon>delete_outline</mat-icon>

                    </button>

                </div>

                <div class="bottom-section">

                    <div class="quantity-controls">

                        <button mat-icon-button color="warn" (click)="decreaseQuantity(item)"
                            [disabled]="item.quantity == 1">

                            <mat-icon>
                                remove_circle_outline
                            </mat-icon>

                        </button>

                        <span class="qty-text">
                            {{item.quantity}}
                        </span>

                        <button mat-icon-button color="primary" (click)="increaseQuantity(item)">

                            <mat-icon>
                                add_circle_outline
                            </mat-icon>

                        </button>

                    </div>

                    <div class="item-total">LKR{{item.price * item.quantity}}</div>

                </div>

            </div>

        </div>

        <div class="summary-card">

            <div class="summary-row">
                <span>Total Amount</span>
                <span class="amount">
                    LKR {{totalAmount}}
                </span>
            </div>

            <button mat-raised-button color="primary" class="checkout-btn" routerLink="/checkout"
                (click)="goToCheckout()">
                Place Order
            </button>

        </div>

    </div>

    <ng-template #emptyCart>

        <div class="empty-cart">

            <mat-icon class="empty-icon">
                remove_shopping_cart
            </mat-icon>

            <h2>Your Cart is Empty</h2>

            <p>Add delicious cakes to continue shopping.</p>

        </div>

    </ng-template>

</div>