<div class="checkout-container">
    <div class="checkout-left">
        <h1>Checkout</h1>
        <form [formGroup]="checkoutForm">
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="customerName">
                <mat-error *ngIf="checkoutForm.get('customerName')?.hasError('required')">
                    This input is required
                </mat-error>
                <mat-error
                    *ngIf="(checkoutForm.get('customerName')?.touched || submitted) && checkoutForm.get('customerName')?.hasError('pattern')">
                    Please enter a valid name using only letters.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="checkoutForm.get('phone')?.hasError('required')">
                    This input is required
                </mat-error>
                <mat-error class="text-danger" *ngIf="
                checkoutForm.get('phone')?.errors &&
                (checkoutForm.get('phone')?.errors)!['pattern']
              ">
                    Phone number should be 10 digits
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="checkoutForm.get('email')?.hasError('required')">
                    This input is required
                </mat-error>
                <mat-error class="text-danger" *ngIf="
                checkoutForm.get('email')?.errors &&
                (checkoutForm.get('email')?.errors)!['email']">
                    Enter a valid Email address
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput rows="3" formControlName="address">
                </textarea>
                <mat-error *ngIf="checkoutForm.get('address')?.hasError('required')">
                    This input is required
                </mat-error>
                <mat-error class="text-danger" *ngIf="
                (checkoutForm.get('address')?.touched || submitted) &&
                checkoutForm.get('address')?.errors &&
                (checkoutForm.get('address')?.errors)!['maxlength']">
                    Maximum lenght is 150
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
                <mat-error *ngIf="checkoutForm.get('city')?.hasError('required')">
                    This input is required
                </mat-error>
                <mat-error class="text-danger" *ngIf="
                (checkoutForm.get('city')?.touched || submitted) &&
                checkoutForm.get('city')?.errors &&
                (checkoutForm.get('city')?.errors)!['maxlength']">
                    Maximum lenght is 100
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Delivery Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="deliveryDate" [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="checkoutForm.get('deliveryDate')?.hasError('required')">
                    This input is required
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
                <mat-label>Order Notes</mat-label>
                <textarea matInput rows="3" formControlName="notes">
                </textarea>
            </mat-form-field> -->

            <div class="payment-section">
                <h3>Payment Method</h3>
                <mat-radio-group formControlName="paymentMethod">

                    <mat-radio-button value="COD">
                        Cash on Delivery
                    </mat-radio-button>

                    <mat-radio-button value="CARD">
                        Card Payment
                    </mat-radio-button>

                </mat-radio-group>
                <mat-error *ngIf="checkoutForm.get('paymentMethod')?.hasError('required')">
                    This input is required
                </mat-error>
            </div>
            
        </form>
    </div>

    <div class="checkout-right">
        <h2>Order Summary</h2>

        <div class="summary-card" *ngFor="let item of cartItems">
            <img [src]="item.processedImg" alt="cake">
            <div class="summary-info">
                <h3>{{item.productName}}</h3>
                <div class="customization-list" *ngIf="item.customizations?.length">
                    <div class="customization-item" *ngFor="let custom of item.customizations">
                        <ng-container *ngIf="custom.value === 'true'; else textOption">
                            ✓ {{custom.optionName}}
                            <span *ngIf="custom.extraPrice > 0">
                                (+LKR {{custom.extraPrice}})
                            </span>
                        </ng-container>
                        <ng-template #textOption>
                            <strong>{{custom.optionName}}</strong>:
                            {{custom.value}}
                            <span *ngIf="custom.extraPrice > 0">
                                (+LKR {{custom.extraPrice}})
                            </span>
                        </ng-template>
                    </div>
                </div>
                <p>Qty: {{item.quantity}}</p>
                <!-- <p>LKR {{item.quantity * item.price}}</p> -->
                <p>LKR {{item.price}}</p>
            </div>
        </div>

        <div class="total-box">
            Total: LKR {{totalAmount}}
        </div>

        <button mat-raised-button color="primary" class="place-order-btn" [disabled]="checkoutForm.invalid"
            (click)="checkoutForm.value.paymentMethod === 'CARD' ? openPayment() : placeOrder()">
            Place Order
        </button>
        <button mat-raised-button color="warn" class="cancel-order-btn" (click)="closeForm()">
            Cancel
        </button>
    </div>
</div>