<div class="login-container">
    <!-- LEFT SIDE -->
    <div class="login-left">
        <div class="overlay">
            <h1>Welcome Back!</h1>
            <p>
                Discover delicious cakes made with love and customize your perfect cake experience.
            </p>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="login-right">
        <div class="login-card">
            <div class="logo-section">
                <img src="assets/images/CakeLa_logo.jpg" alt="logo">
                <h2>Cake_La</h2>
            </div>
            <h1 class="title">Login</h1>
            <p class="subtitle">Login to continue your sweet journey</p>

            <form [formGroup]="loginForm" (ngSubmit)="sendOtp()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error class="text-danger" *ngIf="
                        loginForm.get('phone')?.errors &&
                        (loginForm.get('phone')?.errors)!['pattern']
                    ">
                        Phone number should be 10 digits
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="login-btn" type="submit"
                    [disabled]="isButtonDisabled || loginForm.invalid">
                    {{ isButtonDisabled ? 'Resend OTP ' + timerDisplay : 'Send OTP' }}
                </button>
            </form>
            <div class="register-link">
                <p>Don't have an account?</p>
                <button mat-button color="primary" routerLink="/register">
                    Create Account
                </button>
            </div>

            <hr>

            <div class="mock-sms-alert" *ngIf="otpSent && generatedOtp">
                <mat-icon>textsms</mat-icon>
                <div class="sms-content">
                    <span class="sms-title">New Message Received</span>
                    <span class="sms-text">
                        Your Cake_La verification code is:
                        <strong>{{ generatedOtp }}</strong>
                    </span>
                </div>
            </div>

            <div *ngIf="otpSent">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Enter OTP</mat-label>

                    <input matInput [(ngModel)]="enteredOtp">
                </mat-form-field>

                <button mat-raised-button color="accent" (click)="verifyOtp()">
                    Verify OTP
                </button>
            </div>

        </div>
    </div>

</div>